{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto px-8 py-24">
    <h1 class="text-3xl font-bold mb-8">Payments</h1>
    <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Matches</h2>
        <div class="grid gap-4 md:grid-cols-3">
            {% for match in matches %}
                <a href="?match_id={{ match.id }}" class="block bg-white shadow rounded-lg p-4 hover:shadow-md transition duration-200">
                    <strong class="text-lg">{{ match.name }}</strong><br>
                    <span class="text-gray-600">{{ match.date }}</span>
                </a>
            {% endfor %}
        </div>
    </section>

    {% if selected_match %}
    <section>
        <h2 class="text-2xl font-bold mb-4">Attended Players for Match: {{ selected_match.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="match_id" value="{{ selected_match.id }}">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                {% for team in teams %}
                <div>
                    <h3 class="text-xl font-semibold mb-2">{{ team.name }} (Captain: {{ team.captain.username }})</h3>
                    <ul>
                        {% for player in team.player_set.all %}
                            {% if player.id in attendance_by_player %}
                                <li class="mb-2">
                                    <label class="inline-flex items-center">
                                        <input type="checkbox" name="paid" value="{{ player.id }}" class="form-checkbox h-5 w-5 text-green-600" {% if player.id in paid_list %}checked="checked"{% endif %}>
                                        <span class="ml-2">{{ player.user.username }} - {{ player.role }}</span>
                                    </label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Save Changes
            </button>
        </form>
    </section>
    {% endif %}
</div>
{% endblock %}
